
.header {
    background-color: $primary-nav-color;
    @include flex-between;
    flex-direction: row;

    &__logo {
        padding: 0 1rem;
        cursor: pointer;
        img {
            height: 5rem;
        }
    }

    &__action {
        color: $main-text-color;
        font-size: $nav-font-size;
        padding: 1rem;
    }
}