@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&family=Lato&family=Lora&family=Open+Sans:wght@300&display=swap');

//colors
$primary-nav-color: #f6f6f6;
$secondary-nav-color: #DEFBC9;
$hero-color: green;
$main-text-color: black;
$bck-white-color: white;
$hover-btn-color: #ddd;

//fonts
$nav-font-size: 2.5rem;
$text-font-size: 1rem;

$border: 1px solid $hero-color;
$box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
}

//components
@import "./components/nav.scss";
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/footer.scss";
@import "./pages/vjezba1603.scss";
@import "./pages/vjezba1503.scss";
@import "./pages/omeni.scss";